.wrap {
  max-width: 400px;
  min-width: 300px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-content {
  margin-top: 50px;
}

.cup {
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 95%;
    height: 95%;
    transition: all 0.3s ease-in-out;
    // &:hover {
      // width: 100%;
      // height: 100%;
    // }
  }
  @media (max-width: 420px) {
    height: 80px;
  }
}

.tournament-wrap {
  max-width: 360px;
  max-height: 0px;
  overflow: hidden;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  top: -5px;
  background-color: #224680;
  transition: all 0.3s ease-in-out;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  @media (max-width: 420px) {
    max-width: 260px;
  }
}

.tournament {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-family: 'Bebas', sans-serif;
  font-size: 0;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  &__date {
    max-width: 270px;
    flex: 1;
    text-align: end;
    padding-right: 90px;
  }
  &__cup {
    width: 25px;
    margin-right: 10px;
  }
  &__win {
    height: 30px;
    margin-right: 10px;
  }
  &:hover {
    background-color: #fff;
    color: #224680;
  }
}

.league {
  height: 130px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  @media (max-width: 420px) {
    height: 90px;
  }
}

.social-wrap {
  height: 90px;
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
  @media (max-width: 420px) {
    height: 60px;
  }
}

.link {
  max-width: 125px;
  max-height: 125px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 95%;
    height: 95%;
    &:hover {
      width: 100%;
      height: 100%;
    }
  }
  @media (max-width: 420px) {
    max-width: 90px;
    max-height: 90px;
    margin-right: 10px;
    &:nth-child(3) {
      margin-right: 0;
    }
  }
}
.social-link {
  max-width: 90px;
  max-height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 90%;
    height: 90%;
    transition: all 0.3s ease-in-out;
    &:hover {
      width: 100%;
      height: 100%;
    }
  }
  @media (max-width: 420px) {
    max-width: 60px;
    max-height: 60px;
    margin-right: 10px;
    &:nth-child(4) {
      margin-right: 0;
    }
  }
}

.logo {
  border-radius: 15px;
  &__big {
  }
  &__small {
    transition: all 0.3s ease-in-out;
  }
}

.active {
  max-height: 500px;
  a {
    font-size: 20px;
    padding: 5px 0;
  }
}

.hide {
  opacity: 0;
}

.footer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  @media (max-width: 420px) {
    font-size: 12px;
  }
}
